<!DOCTYPE html>
<html>
<head>
	<title> Backbone </title>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="css/base.css">
</head>

<body>
	<section id="todoapp">
		<header id="header">
			<h1> Gawaing Gwapo </h1>
			<input id="new-todo" placeholder="What needs to be done?" autofocus>
		</header>

		<section id="main">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>

		<footer id="footer"></footer>
	</section>

	<div id="info">
		<p>Double click to edit a todo</p>
	</div>
	<!-- Templates -->	
	<!-- Item Template -->
	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
			<label><%- title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>">
	</script>

	<!-- Stats Template -->
	<script type="text/template" id="stats-template">
		<span id="todo-count">
			<strong>
				<%= remaining %>
			</strong>
			<%= remaining === 1 ? 'item' : 'items' %>
		</span>

		<ul id="filters">
			<li>
				<a class="selected" href="#/">All</a>
			</li>

			<li>
				<a href="#/active">Active</a>
			</li>

			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>

		<% if(completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
		<% } %>
	</script>

	<!-- Load libraries -->
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/Backbone.js"></script>
	<script src="js/Backbone.localStorage.js"></script>
	<!-- Backbone -->
	<script src="js/models/todo.js"></script>
	<script src="js/collection/todos.js"></script>
	<script src="js/views/todos.js"></script>
	<script src="js/views/app.js"></script>
	<script src="js/routers/router.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
